<!-- this goes inside of a range .Data.Pages loop -->
<div class="summary-work">
  <h3><a href="{{ .URL }}">{{.Title}}</a></h3>
  <!-- <i>{{ .Permalink }} | {{ .RelPermalink }} | {{ .URL }}</i>> -->
  <!-- <div class="date metadata">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div> -->

  {{ with .Params.timeline }}
  <div class="timeline metadata">
    <strong>timeline: </strong>{{ . }}
  </div>
  {{ end }}

  {{ with .Params.tags }}
  <div class="tags metadata">
    <strong>tags: </strong>{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
  </div>
  {{ end }}

  {{ .Summary }}{{ if .Truncated }}<a href="{{ .RelPermalink }}">read more...</a>{{ end }}
</div>