/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */


/*
  Or add your statements here:
 */
/* The :root selector matches the document's root element. */
:root { 
  /* do something */
}

body {
  font-family: sans-serif;
  font-size: $base-size;
  text-align: center;
}

.block-main {
  font-size: 1rem;
  border: .125em solid green;
  margin: 0 1em;
  padding: 1em;
}

.summary-work {
  --column-num: 1;
  font-size: 1rem;
  border: .125em solid black;
  margin: 1em 0;
  padding: 1em;
  width: calc((100 / var(--column-num)) * 1%); /* niiiiice */

  box-sizing: border-box;

  .metadata {
    color: $pink; 
    font-size:.75rem;
    margin: .5em; /* the margin is always half of the font size */
  }
}